[Desktop Entry]
Icon=system-run
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcm_systemd

X-KDE-Library=kcm_systemd
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=system-administration

Name=Systemd
Name[cs]=Systemd
Name[gl]=systemd
Name[nl]=Systemd
Name[pt]=Systemd
Name[pt_BR]=Systemd
Name[sv]=Systemd
Name[x-test]=xxSystemdxx
Comment=Configure the systemd daemon
Comment[gl]=Configurar o servizo de systemd
Comment[nl]=De systemd-daemon instellen
Comment[pt]=Configurar o serviço 'systemd'
Comment[pt_BR]=Configura o serviço systemd
Comment[sv]=Anpassa systemd-demonen
Comment[x-test]=xxConfigure the systemd daemonxx
X-KDE-Keywords=systemd
X-KDE-Keywords[cs]=systemd
X-KDE-Keywords[gl]=systemd
X-KDE-Keywords[nl]=systemd
X-KDE-Keywords[pt]=systemd
X-KDE-Keywords[pt_BR]=systemd
X-KDE-Keywords[sv]=systemd
X-KDE-Keywords[x-test]=xxsystemdxx
Categories=Qt;KDE;X-KDE-settings-system;
