[Desktop Entry]
Icon=system-run
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell5 kcm_systemd

X-KDE-Library=kcm_systemd
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=system-administration

Name=Systemd
Name[ca]=Systemd
Name[gl]=systemd
Name[sk]=Systemd
Name[sv]=Systemd
Name[uk]=Systemd
Name[x-test]=xxSystemdxx
Comment=Configure the systemd daemon
Comment[ca]=Configura el dimoni «systemd»
Comment[gl]=Configurar o servizo de systemd
Comment[sk]=Nastaviť démon systemd
Comment[sv]=Anpassa systemd-demonen
Comment[uk]=Налаштовування фонової служби systemd
Comment[x-test]=xxConfigure the systemd daemonxx
X-KDE-Keywords=systemd
X-KDE-Keywords[ca]=systemd
X-KDE-Keywords[gl]=systemd
X-KDE-Keywords[sk]=systemd
X-KDE-Keywords[sv]=systemd
X-KDE-Keywords[uk]=systemd
X-KDE-Keywords[x-test]=xxsystemdxx
Categories=Qt;KDE;X-KDE-settings-system;
