[Desktop Entry]
Icon=system-run
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcm_systemd

X-KDE-Library=kcm_systemd
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=system-administration

Name=Systemd
Name[ca]=Systemd
Name[ca@valencia]=Systemd
Name[cs]=Systemd
Name[de]=Systemd
Name[es]=Systemd
Name[fi]=Systemd
Name[gl]=systemd
Name[it]=Systemd
Name[nl]=Systemd
Name[pl]=Systemd
Name[pt]=Systemd
Name[pt_BR]=Systemd
Name[sk]=Systemd
Name[sr]=Системд
Name[sr@ijekavian]=Системд
Name[sr@ijekavianlatin]=systemd
Name[sr@latin]=systemd
Name[sv]=Systemd
Name[uk]=Systemd
Name[x-test]=xxSystemdxx
Comment=Configure the systemd daemon
Comment[ca]=Configura el dimoni «systemd»
Comment[ca@valencia]=Configura el dimoni «systemd»
Comment[de]=Einrichtung des systemd-Dienstes
Comment[es]=Configurar el demonio systemd
Comment[fi]=systemd-palvelun asetukset
Comment[gl]=Configurar o servizo de systemd
Comment[it]=Configura il demone systemd
Comment[nl]=De systemd-daemon instellen
Comment[pl]=Ustawienia usługi systemd
Comment[pt]=Configurar o serviço 'systemd'
Comment[pt_BR]=Configura o serviço systemd
Comment[sk]=Nastaviť démon systemd
Comment[sr]=Подешавање демона Системд‑а
Comment[sr@ijekavian]=Подешавање демона Системд‑а
Comment[sr@ijekavianlatin]=Podešavanje demona systemd‑a
Comment[sr@latin]=Podešavanje demona systemd‑a
Comment[sv]=Anpassa systemd-demonen
Comment[uk]=Налаштовування фонової служби systemd
Comment[x-test]=xxConfigure the systemd daemonxx
X-KDE-Keywords=systemd
X-KDE-Keywords[ca]=systemd
X-KDE-Keywords[ca@valencia]=systemd
X-KDE-Keywords[cs]=systemd
X-KDE-Keywords[de]=systemd
X-KDE-Keywords[es]=systemd
X-KDE-Keywords[fi]=systemd
X-KDE-Keywords[gl]=systemd
X-KDE-Keywords[it]=systemd
X-KDE-Keywords[nl]=systemd
X-KDE-Keywords[pl]=systemd
X-KDE-Keywords[pt]=systemd
X-KDE-Keywords[pt_BR]=systemd
X-KDE-Keywords[sk]=systemd
X-KDE-Keywords[sr]=systemd,Системд
X-KDE-Keywords[sr@ijekavian]=systemd,Системд
X-KDE-Keywords[sr@ijekavianlatin]=systemd,systemd
X-KDE-Keywords[sr@latin]=systemd,systemd
X-KDE-Keywords[sv]=systemd
X-KDE-Keywords[uk]=systemd
X-KDE-Keywords[x-test]=xxsystemdxx
Categories=Qt;KDE;X-KDE-settings-system;
