[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=system-administration
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=200
Icon=package-administration

Name=System administration
Name[ast]=Alministración del sistema
Name[bg]=Системна администрация
Name[ca]=Administració del sistema
Name[ca@valencia]=Administració del sistema
Name[cs]=Administrace systému
Name[de]=Systemverwaltung
Name[en_GB]=System administration
Name[es]=Administración del sistema
Name[fi]=Järjestelmänhallinta
Name[gl]=Administración do sistema
Name[hu]=Rendszeradminisztráció
Name[nl]=Systeemadministratie
Name[pl]=Administracja systemu
Name[pt]=Administração do sistema
Name[pt_BR]=Administração do sistema
Name[ro]=Administrare sistem
Name[ru]=Системное администрирование
Name[sk]=Správa systému
Name[sl]=Skrbništvo sistema
Name[sv]=Systemadministration
Name[uk]=Адміністрування системи
Name[x-test]=xxSystem administrationxx
Name[zh_CN]=系统管理
Name[zh_TW]=系統管理
