[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=system-administration
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=200
Icon=package-administration

Name=System administration
Name[ca]=Administració del sistema
Name[gl]=Administración do sistema
Name[sk]=Správa systému
Name[sv]=Systemadministration
Name[uk]=Адміністрування системи
Name[x-test]=xxSystem administrationxx
