[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=system-administration
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=200
Icon=package-administration

Name=System administration
Name[ca]=Administració del sistema
Name[cs]=Administrace systému
Name[es]=Administración del sistema
Name[gl]=Administración do sistema
Name[nl]=Systeemadministratie
Name[pl]=Administracja systemu
Name[pt]=Administração do sistema
Name[pt_BR]=Administração do sistema
Name[sk]=Správa systému
Name[sl]=Skrbništvo sistema
Name[sv]=Systemadministration
Name[uk]=Адміністрування системи
Name[x-test]=xxSystem administrationxx
Name[zh_CN]=系统管理
